*{
    margin: 0;
    padding: 0;
}
body{
    border-right:200px solid rgb(255, 255, 255);
    border-left:200px solid rgb(255, 255, 255);
    width: 50%;
    width: 1200px;
    height: 700px;

}
.slay{
    width: 1200px;
    height: 150px;
    background-color: #7b917b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 250px;
}
.enot{
    border-radius: 50px;
}
.o1{
    width: 1200px;
    height: 300px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.o{
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
}
.my{

 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.my2{
    width: 1200px;
    height: 200px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
    gap: 15px;
      
}
.omg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 1200px;
    height: 160px;
    background-color: #7b917b;
}
.t{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icons{
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
     gap: 20px;
     background-color: #7b917b;
}