*{
    margin: 0;
    padding: 0;
}
body{
    width: 1400px;
    height: 500px;
    background-color: #6c7156;
}
.slay{
    width: 1400px;
    height: 150px;
    background-color: #7b917b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 50px;
}
.enot{
    border-radius: 50px;
}
.my{
    width: 500px;
    height: 200px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center
}